<div class="app mat-typography">
  <app-header (toggleSidenav)="sidemenu.toggle()"></app-header>

  <mat-sidenav-container class="app-inner">
    <mat-sidenav #sidemenu mode="side" opened class="sidebar-panel" id="sidebar-panel">
      <app-menu></app-menu>
    </mat-sidenav>


    <mat-sidenav-content>
      <!--<p><button mat-button (click)="sidemenu.toggle()">Toggle</button></p>-->
    <div  >
      <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>


