<!--<mat-card-title>Wellcome to NetCloud Admin Demo</mat-card-title>-->
<!--<img mat-card-image src="../assets/logo.png" alt="Wellcome to NetCloud Admin Demo">-->

<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Wellcome to NetCloud Admin Demo</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../assets/logo.png" alt="NetCloud Admin Demo">
    <mat-card-content>
      <p>

      </p>
    </mat-card-content>
    <!--<mat-card-actions>-->
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
    <!--</mat-card-actions>-->
  </mat-card>
</div>
